# Python cache
__pycache__/
*.py[cod]
__init__.py

# Conda / venv
env/
venv/
.venv/
job-matcher-env/

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Optional: private resume
# data/sample_resume.txt
